html {
font-family: Georgia, 'Times New Roman', Times, serif;
margin: 10px;
}
.topOf{
    text-align: center;
    background-image: linear-gradient(to right, blue, rgb(58, 58, 126));
    color: white;
    padding: 10px;
}
#search-weather{
    display: block;
    font-weight: bold;
    font-size:larger;
}

#title-search{
    display: block;
    
}

.top-header{
    border: 5px;
    border-radius: round;
}

.card-body{
    border: black;
}

.goodUV {
    background-color: green;

}

.moderateUV{
    background-color: yellow;
}

.severeUV{
    background-color: red;
}